<h3>Image URL: <%= @image["url"] %><br>
  Product Id: <%= @image["product_id"] %><br>

<img src="<%=@image["url"]%>" style="width:200px;height:200px;"><br><br>
<br><br>
<h4><a href="/client/products">Products Index</a></h4>