<h2> New Product Creation </h2>

<%= form_tag "/client/products", method: :post do %>
  <div>
    Name: <input type="text" name="name" />
  </div> 
   <div>
    Price: <input type="text" name="price" />
  </div>
 <div>
    Description: <input type="text" name="description" />
  </div>
 <div>
    Color: <input type="text" name="color" />
  </div>
   <div>
    Supplier Id: <input type="number" name="supplier_id" />
  </div>
  <br>
  <input type="submit" name="" value="Create Product" />
  <% end %>