<h1>Shopping Cart</h1>
    
<h2>Cart ID: <%= @carted_product['id'] %></h2>
<h3>Product ID: <%= @carted_product['product_id'] %></h3>
<h4>Quantity: <%= @carted_product['quantity'] %></h4>
<h4>User ID: <%= @carted_product['user_id'] %></h4>